
.result{
    height: 500px;
    width: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;                                                                                                                            
    border-radius: 32px;
    padding-bottom: 3rem;
    
    
}

@media screen and (max-width: 1024px) {
    .result {                                                                                                                        
        width: 100%;
    }

}
    
@media screen and (max-width: 768px) {
    .result {
        margin: 1rem 0;
        width: 100%;
        height: 400px;

    }
}

@media screen and (max-width: 576px) {
    .result {
        width: 100%;
        margin: .75rem 0;
    }
}